@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

body {
  background: #f3f3f3;
  color: #4e4e4e;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  justify-content: center;
}
